<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sora Anniversary</title>
    <meta name="description" content="Tokino Sora Anniversary Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div id="bg-container">
        <div id="particles-js"></div>
    </div>

    <header id="start-page" class="full-screen-page">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="300" height="200">
            <path id="test-stroke-one" stroke="#000000" stroke-width="5"
                d="M47.8643+79.2714C46.3402+82.3195+56.0687+77.8468+56.2814+77.7638C61.6412+75.6722+75.1285+70.5605+80.7387+69.3668C87.4995+67.9284+94.1555+66.1541+100.965+64.9698C105.18+64.2369+109.699+64.486+113.276+61.7035C118.338+57.7666+116.363+49.3536+113.905+44.7437C112.797+42.6673+110.967+40.2159+109.131+38.7136C97.5719+29.2564+92.0159+46.5546+90.2864+55.5477C86.6219+74.6035+85.6365+95.0294+90.0352+114.09C92.5625+125.042+99.5393+134.683+111.518+135.824C129.374+137.525+143.878+124.892+150.462+109.191C153.096+102.91+155.599+91.5224+149.08+86.4523C142.023+80.9628+133.895+90.3989+131.618+96.3769C126.161+110.702+132.415+132.3+149.206+134.819C168.53+137.718+190.217+127.989+198.829+109.945C201.089+105.21+203.098+97.3762+200.839+92.3568C196.487+82.6848+180.467+90.1408+182.749+99.2663C184.845+107.651+207.981+105.66+204.859+117.106C203.686+121.409+197.642+122.638+194.181+124.266C193.922+124.388+190.412+125.624+190.412+126.151C190.412+126.307+192.966+125.421+193.05+125.397C194.586+124.958+196.109+124.4+197.573+123.764C201.921+121.873+206.095+119.611+210.387+117.608C224.536+111.005+238.986+104.8+244.307+88.8392C245.6+84.9585+245.892+80.8155+246.317+76.7789C246.605+74.0388+248.221+58.8721+244.307+57.3065C242.252+56.4845+240.855+59.8124+240.161+61.201C237.887+65.7487+237.232+71.2385+236.141+76.1508C234.336+84.2724+233.459+92.5484+231.618+100.648C230.24+106.714+227.906+114.586+229.357+120.874C230.276+124.857+231.985+131.335+235.261+134.065C240.912+138.774+250.212+127.908+252.975+123.764"
                fill="#ffffff" fill-opacity="0" stroke-linecap="butt" opacity="1" stroke-linejoin="round" />
            <path id="test-stroke-two" stroke="#000000" stroke-width="5"
                d="M190.201+59.8618C192.007+58.5447+186.086+58.9373+185.302+59.5477C180.838+63.0191+184.783+69.1626+189.573+69.598C193.809+69.9831+193.465+62.2176+192.085+60.0503C191.654+59.3726+189.086+60.6744+190.201+59.8618Z"
                fill="#ffffff" fill-opacity="0" stroke-linecap="butt" opacity="1" stroke-linejoin="round" />
        </svg>
        <h1 data-aos="fade-down" data-aos-duration=2000>
            そらちゃん3周年おめでとう！
        </h1>
        <h4 data-aos="flip-down" data-aos-delay="1500">
            Happy 3rd Anniversary!
        </h4>
        <div id="scroll-arrow-hint" data-aos="fade-in" data-aos-delay="2000">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <section id="drawpile-sect">
        <div class="section-title" data-aos="fade-in">
            <h2>Drawpile image</h2>
        </div>
        <div id="drawpile-image-container" data-aos="fade-in">
            <img id="drawpile-image" src="img/placeholder.png" alt="">
        </div>
    </section>

    <section id="audio-mix-sect">
        <div class="section-title" data-aos="fade-in">
            <h2>Cover Mix</h2>
        </div>
        <div id="audio-mix-player-container" class="card card-default" data-aos="fade-in">
            <div id="audio-name">Placeholder music</div>
            <audio controls>
                <source src="placeholder.mp3" type="audio/mpeg">
            </audio>
        </div>
    </section>

    <section id="birthday-msgs">
        <div class="section-title" data-aos="fade-in">
            <h2>Messages</h2>
        </div>
        <div class="card-columns">
            {{#each messages}}
            <div class="birthday-msg-card-container" data-aos="fade-in">
                <div class="birthday-msg-card card card-default">
                    <div class="sender-details">
                        {{#with country_code}}
                        <div class="country">
                            <cite class="text-muted">From </cite> <span class="flag-icon flag-icon-{{this}}"></span>
                        </div>
                        {{/with}}
                    </div>
                    <div class="birthday-msg">
                        <blockquote class="blockquote mb-0">
                            <p>{{message}}</p>
                        </blockquote>
                        {{#with message_jp}}
                        <hr>
                        <blockquote class="blockquote mb-0">
                            <p>{{this}}</p>
                        </blockquote>
                        {{/with}}
                        <blockquote class="blockquote mb-0">
                            <footer class="blockquote-footer">
                                <span>{{username}}</span>
                                {{#with twitter}}
                                <span>(@{{this}})</span>
                                {{/with}}
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </section>

    <section id="end-page" class="full-screen-page">
        <h1 id="cover-msg" data-aos="zoom-in">
            Last message to leave
        </h1>
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
        integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>
        AOS.init({
            offset: 120,
            delay: 50,
            duration: 1000,
            mirror: true,
            once: false,
            anchorPlacement: 'top-center'
        });

        particlesJS('particles-js', {
            "particles": {
                "number": {
                    "value": 160,
                    "density": {
                        "enable": true,
                        "value_area": 800
                    }
                },
                "color": {
                    "value": "#ffffff"
                },
                "shape": {
                    "type": "circle",
                    "stroke": {
                        "width": 0,
                        "color": "#000000"
                    },
                    "polygon": {
                        "nb_sides": 5
                    },
                    "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                    }
                },
                "opacity": {
                    "value": 1,
                    "random": true,
                    "anim": {
                        "enable": true,
                        "speed": 1,
                        "opacity_min": 0,
                        "sync": false
                    }
                },
                "size": {
                    "value": 3,
                    "random": true,
                    "anim": {
                        "enable": false,
                        "speed": 4,
                        "size_min": 0.3,
                        "sync": false
                    }
                },
                "line_linked": {
                    "enable": false,
                    "distance": 150,
                    "color": "#ffffff",
                    "opacity": 0.4,
                    "width": 1
                },
                "move": {
                    "enable": true,
                    "speed": 1,
                    "direction": "none",
                    "random": true,
                    "straight": false,
                    "out_mode": "out",
                    "bounce": false,
                    "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 600
                    }
                }
            },
            "interactivity": {
                "detect_on": "canvas",
                "events": {
                    "onhover": {
                        "enable": true,
                        "mode": "bubble"
                    },
                    "onclick": {
                        "enable": true,
                        "mode": "repulse"
                    },
                    "resize": true
                },
                "modes": {
                    "grab": {
                        "distance": 400,
                        "line_linked": {
                            "opacity": 1
                        }
                    },
                    "bubble": {
                        "distance": 250,
                        "size": 0,
                        "duration": 2,
                        "opacity": 0,
                        "speed": 3
                    },
                    "repulse": {
                        "distance": 400,
                        "duration": 0.4
                    },
                    "push": {
                        "particles_nb": 4
                    },
                    "remove": {
                        "particles_nb": 2
                    }
                }
            },
            "retina_detect": true
        });

        function pathPrepare($el) {
            var lineLength = $el[0].getTotalLength();
            $el.css("stroke-dasharray", lineLength);
            $el.css("stroke-dashoffset", lineLength);
        }

        var $word = $("path#test-stroke-one");
        var $dot = $("path#test-stroke-two");

        pathPrepare($word);
        pathPrepare($dot);
    </script>
</body>

</html>